@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

.poke-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
    padding-bottom: 40px;
    color: rgba(255, 255, 255, 0.575);
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
    width: 180px;
    transition: 0.3s;
}

.pokemon:hover{
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
    color: #fff;
}

.generation{
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	letter-spacing: 4px;
	font-weight: bold;
	margin-top: 40px;
}
p{
	position: relative;
}

.generation p:nth-child(1):before{
	content: '';
	position: absolute;
	top: 43%;
	left: -60px;
	width: 40px;
	height: 5px;
	border-radius: 5px;
	background: #999;
}

.generation p:nth-child(1)::after{
	content: '';
	position: absolute;
	top: 43%;
	right: -60px;
	width: 40px;
	height: 5px;
	border-radius: 5px;
	background: #999;
}

.countGen{
	margin-top: -40px;
}

.more-Button{
	margin-top: 40px;
	border: none;
	padding: 10px 20px;
	background: none;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	transition: 0.3s;
	
}

.more-Button:hover{
	text-shadow: 0 3px 10px rgb(0, 0, 0);
	letter-spacing: 1px;
}

.more-Button i{
	padding-left: 10px;
}

.activeMore{
	display: none;
	transition: 0.5s;
}

.countActive{
	display: "";
}